<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

--car is just an object whiles cars is the array list it is using.--

<tr th:each="car: ${cars}">
    <td th:text="${car.getMark()}"></td><br>
    <td th:text="${car.getModel()}"></td><br>
    <p>---------------------------------</p>
</tr>

<form>
    <p> Model:<input type="text"></p>
    <p> Mark:<input type="text"></p>
<p> <input type="submit" value="add new car"> </p>

</form>

</body>
</html>